<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		
		<!-- === Here you need to modify with your DB config === -->
																		<!-- Here! -->	
        <property name="hibernate.connection.url">jdbc:hsqldb:file:src/main/webapp/WEB-INF/hsqldb/</property>
		
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
		
		<!-- === === -->
		
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
		<!--
        <property name="show_sql">true</property>
		-->

        <!-- Drop and re-create the database schema on startup -->
		<!--
        <property name="hbm2ddl.auto">create</property>
		-->
  
        <mapping class="org.zkoss.fiddle.model.Resource" />
		<mapping class="org.zkoss.fiddle.model.Case" />
		
    </session-factory>
	
</hibernate-configuration>