/* Reset */
body {
	padding: 0;
	background: #F8F8F8;	
}

.z-tabs .z-tabs-cnt {
    -moz-user-select: text;
}
.z-tabs-cnt li {
	-moz-user-select: text;
}

/* Global */
h1 {
	margin: 0;
}
span.text-bold {
	font-weight: bold;
}
/* Header */
.zkfiddle-header {
	height: 70px;
}
.zkfiddle-header .header-inner {
	height: 60px;
	box-shadow: 0 0 2px 1px #C1C1C1;
}
/** Menu **/
.zkfiddle-header .menu {
	float: left;
	width: 100%;
}
.zkfiddle-header .header-inner {
	background-color: #FFFFFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DCDCDC) ); 
	background-image: -webkit-linear-gradient(top, #FFFFFF, #DCDCDC);
	background-image: -moz-linear-gradient(top, #FFFFFF, #DCDCDC);
	background-image: -ms-linear-gradient(top, #FFFFFF, #DCDCDC);
	background-image: -o-linear-gradient(top, #FFFFFF, #DCDCDC);
	background-image: linear-gradient(top, #FFFFFF, #DCDCDC);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#DCDCDC');
}

.zkfiddle-header .logo-outer {
	-moz-border-radius: 12px; /* FF1-3.6 */
	-webkit-border-radius: 12px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
	border-radius: 12px;
	margin: 2px 10px;
	width: 100px;
	height: 60px;
}

.zkfiddle-header .logo {
	background: url("/img/top_zk_logo.png") no-repeat scroll 0 7px
		transparent;
	margin-left: 18px;
	float: left;
}

.zkfiddle-header .logo,.zkfiddle-header .logo a {
	display: block;
	height: 50px;
	width: 65px;
}

.zkfiddle-header .title {
	color: #4c4c4c;
	font-size: 18px;
	text-shadow: 1px 1px 3px #999;
	margin: 0 30px;
	font-weight: normal;
}
/** Control **/
.zkfiddle-header .z-combobox {
	height: 26px;
	background-color: #FFFFFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EDEDED) ); 
	background-image: -webkit-linear-gradient(top, #FFFFFF, #EDEDED);
	background-image: -moz-linear-gradient(top, #FFFFFF, #EDEDED);
	background-image: -ms-linear-gradient(top, #FFFFFF, #EDEDED);
	background-image: -o-linear-gradient(top, #FFFFFF, #EDEDED);
	background-image: linear-gradient(top, #FFFFFF, #EDEDED);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#EDEDED');
}
.z-combobox-pp {
	-moz-border-radius: 4px; /* FF1-3.6 */
	-webkit-border-radius: 4px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
	border-radius: 4px;
}
.z-combobox-pp .z-comboitem-text {
	padding: 3px 0;
}
.z-comboitem td.z-comboitem-img,
.zkfiddle-header .z-combobox-inp {
	-moz-border-radius: 4px 0 0 4px; /* FF1-3.6 */
	-webkit-border-radius: 4px 0 0 4px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
	border-radius: 4px 0 0 4px;
}
.z-comboitem td.z-comboitem-text,
.zkfiddle-header .z-combobox-btn {
	-moz-border-radius: 0 4px 4px 0; /* FF1-3.6 */
	-webkit-border-radius: 0 4px 4px 0; /* Saf3-4, iOS 1-3.2, Android <1.6 */
	border-radius: 0 4px 4px 0;
}
.zkfiddle-header .z-combobox-inp {
	background: transparent;
	height: 20px;
}
.zkfiddle-header .z-combobox-btn {
	width: 18px;
	height: 24px;
	border: 1px solid #CCCCCC;
	background-color: transparent;
	background-image: url(/img/comp/combobtn.gif);
}
.zkfiddle-header .z-combobox-focus .z-combobox-btn,
.zkfiddle-header .z-combobox-btn-over,
.zkfiddle-header .z-combobox-btn-clk {
	border-color: #90BCE6;
}
.zkfiddle-header .z-combobox-btn-over {
	margin-left: 0;
}

.zkfiddle-header .z-button-cm {
	vertical-align: middle;
	line-height: 18px;
}
/* Right */
.zkfiddle-outer {
	margin: 5px;
}
.zkfiddle-center {
	background: #F8F8F8;
}
.zkfiddle-center .z-center {
	padding-right: 5px;
	margin-left: 5px;
}
.sourceCodeEditor {
	padding: 5px;
	border: 1px solid #C5C5C5;
}

/** Source Tabs **/
.z-separator-hor-bar {
	border-top: 1px solid #cccccc; 
	background: 0 none;
}
.sourcetabs .z-tabs-cnt {
	padding-left: 3px;
}
.sourcetabs .tab-textbox {
	margin-left: 5px;
	width: 200px;
}
.sourcetabs .z-tabs-add-edge .z-tab-text {
	font-size: 18px;
	height: 25px;
}
.sourcetabs .z-tab-hl,.sourcetabs .z-tab-hr,.sourcetabs .z-tab-hm {
	height: 29px;
}
.source-vlayout .z-tabpanel {
	padding: 0;
}
.sourcetabs .z-tab-hl,
.sourcetabs .z-tab-hr {
	background-image: url("/img/comp/tab-corner.png");
}
.sourcetabs .z-tab-hm {
	background-image: url("/img/comp/tab-hm.png");
}

.zkfiddle-source-tag-container a{
	margin-left:6px;
}
.zkfiddle-index{
	text-align:center;
}

/***Taglist***/
.zkfiddle-taglist .token{
	display:block;
	color:gray;
	font-size:10px;
	margin-left:15px;
}
.zkfiddle-taglist .tag-container *{
	margin-left:5px;
}

/***Tag cloud ***/
.leftabout .tag-container{
	padding-top:3px;
	padding-bottom:5px;	
	line-height:23px;
}
.tag-cloud{
	padding:5px;
}
.tag-cloud0 {font-size: 100%;}  
.tag-cloud1 {font-size: 120%;}  
.tag-cloud2 {font-size: 140%;}  
.tag-cloud3 {font-size: 160%;}  
.tag-cloud4 {font-size: 180%;}  

/***CodeMirror***/
span.c-like-keyword {
	color: #7F0055;
}
span.c-like-string {
	color: #0000C0;
}
.CodeMirror {
	border: 0 none;
}
pre.CodeMirror-cursor {
	margin-top: 1px;
}

/* Left */
/** West **/
.zkfiddle-center .z-west-splt {
	background: 0 none;
} 
.zkfiddle-center .z-west-header {
	padding: 4px 3px 4px 5px;
	font-size: 12px;
	background-color: #F5F5F5;
	background-image: -webkit-gradient(linear, 0% 43%, 0% 46%, from(#F5F5F5), to(#E3E3E3), color-stop(.1,#CCCCCC));	
	background-image: -moz-linear-gradient(53% 46% 270deg,#F5F5F5, #E3E3E3, #CCCCCC 0%,#E3E3E3 9%);
	background-image: -ms-linear-gradient(top, #F5F5F5, #CCCCCC);
	background-image: -o-linear-gradient(top, #F5F5F5, #CCCCCC);
	background-image: linear-gradient(top, #F5F5F5, #CCCCCC);	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#CCCCCC');
}
.zkfiddle-center .z-west-colpsd {
	background: #f5f5f5; /* Old browsers */
	background: -moz-linear-gradient(left, #f5f5f5 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f5f5f5), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #f5f5f5 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #f5f5f5 0%,#dddddd 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, #f5f5f5 0%,#dddddd 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, #f5f5f5 0%,#dddddd 100%); /* W3C */
}
/** Left List **/
.leftlist div.z-listheader-cnt {
	padding: 4px 5px;
}

.leftlist .z-tabpanels-accordion {
	border: 0 none;
}

.leftlist .z-tabpanel-accordion-cnt {
	padding: 0;
}

.leftlist .z-tab-accordion-header {
	border-width: 1px 0;
}

.leftlist .likes .amount,.leftlist .recentlys .version {
	text-align: center;
}

.leftlist .recentlys,.leftlist .likes {
	border-width: 0 0 1px 0;
}
.leftlist .z-tabpanel-accordion-cnt {
	border-width: 1px 0;
}
/** Left About**/
.grouptop {
	border-top: 1px solid #C5C5C5;
}
.leftabout .z-groupbox-cnt {
	border-width: 1px 0 0;
}

.leftabout .z-groupbox-hm {
	border-width: 0 0 1px 0;
}
.leftabout .z-caption-l{
	font-weight: bold;
	color: #555555;
}
/** Popup **/
.popupContent .z-window-modal-cnt-noborder {
	padding: 10px;
}

/** temp fix background ,zk 5071 issue , @see ZK theme SVN commit 61/64 */
div.z-listbox-header tr.z-listhead, div.z-listbox-header tr.z-auxhead {
	background: transparent repeat-x 0 0;
	background-image: url(${c:encodeURL('~./zul/img/breeze/grid/column-bg.png')});
}