<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:sec="http://www.springframework.org/schema/security"
	 xmlns:zksp="http://www.zkoss.org/2008/zkspring/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
		http://www.zkoss.org/2008/zkspring/core http://www.zkoss.org/2008/zkspring/core/zkspring-core.xsd">

	<bean id="baseDao" class="org.zkoss.fiddle.dao.AbstractDao" >
    	<property name="sessionFactory" ref="sessionFactory" />
		<property name="transactionManager" ref="transactionManager"/>
	</bean>

	<bean id="caseDao" class="org.zkoss.fiddle.dao.CaseDaoImpl" parent="baseDao" />

	<bean id="caseRecordDao" class="org.zkoss.fiddle.dao.CaseRecordDaoImpl" parent="baseDao" />

	<bean id="caseRatingDao" class="org.zkoss.fiddle.dao.CaseRatingDaoImpl" parent="baseDao" />

	<bean id="resourceDao" class="org.zkoss.fiddle.dao.ResourceDaoImpl"  parent="baseDao" />

	<bean id="userDao" class="org.zkoss.fiddle.dao.UserDaoImpl"  parent="baseDao" />

	<bean id="tagDao" class="org.zkoss.fiddle.dao.TagDaoImpl"  parent="baseDao" />

	<bean id="caseTagDao" class="org.zkoss.fiddle.dao.CaseTagDaoImpl"  parent="baseDao" />

	<bean id="userRememberTokenDao" class="org.zkoss.fiddle.dao.UserRememberTokenDaoImpl"  parent="baseDao" />

	<!-- services -->

	<bean id="caseManager" class="org.zkoss.fiddle.manager.CaseManager">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="caseDao" ref="caseDao" />
		<property name="resourceDao" ref="resourceDao" />
		<property name="caseTagDao" ref="caseTagDao" />
		<property name="caseRecordDao" ref="caseRecordDao" />
		<property name="caseRatingDao" ref="caseRatingDao" />
	</bean>
</beans>